<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/metricas.css}" rel="stylesheet" />
    <!-- <link href="../static/styles/main.css" rel="stylesheet" /> -->
    <title>Métricas Consultas</title>
</head>
<body>
    <div class = "topBar">
        <h1>Métricas recogidas en las últimas 24 horas</h1>
    </div>
    <div class = "BoxMetricas">
        <p>Se han realizado <span th:text="${consultas}">consultas</span> consultas.
        <br>
        La enfermedad más común ha sido <span th:text="${enfermedad}"> enfermedad </span> con <span th:text="${nEnfermedad}">incidencias</span> incidencias.
        <br> 
        El medicamento más recetado ha sido <span th:text="${medicamento}">medicamento</span> con <span th:text="${nMed}">incidencias</span> incidencias. 
        <br>
        La prueba más realizada ha sido <span th:text="${prueba}">prueba</span> con <span th:text="${nPrueba}">incidencias</span> incidencias.
        <br>
        Se han realizado <span th:text="${pcr}">pruebas</span> pruebas PCR y se han diagnosticado <span th:text="${covid}">incidencias</span> casos positivos de coronavirus. </p>
    </div>
</body>
</html>