body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background: url("ETL.png") center top;
    background-size: cover;
    background-blend-mode: soft-light;
    
}

.box {
    border: 0.1rem solid black;
    text-align: center;
}
  
.topBar{
    text-align: center;
    background-color: rgba(109, 210, 218, 0.774);
    width: 100%;
    color: white;
}

.BoxMetricas{
    font-family: Arial;
    border: 1px solid white;
    background: white;
    border-radius: 60px;
    padding: 20px; 
}





